---
const { id } = Astro.props;
import { PostDetail } from "./post-detail";

async function fetchPost() {
    try {
        const res = await fetch("http://backend:3000/posts/" + id);

        if (!res.ok) {
            return { error: true, post: [] };
        }

        const post = await res.json();

        console.log(post);
        return { error: false, post };
    } catch (e) {
        return { error: true, post: [] };
    }
}

const sid = Astro.cookies.get("sid")?.value || null;

const { error, post } = await fetchPost();
---

{
    error ? (
        <div class="flex flex-col gap-1 h-[80dvh] items-center justify-center">
            <p class="text-white text-center p-4 text-[1.1rem]">
                Hubo un error de conexión
            </p>
            <a
                href="/"
                class="bg-white text-black font-medium text-[1rem] py-2.5 px-4 rounded-full hover:bg-gray-200 transition-colors"
            >
                Recargar Posts
            </a>
        </div>
    ) : post.length === 0 ? (
        <div class="flex flex-col gap-1 h-[80dvh] items-center justify-center">
            <p class="text-white text-center p-4 text-[1.1rem]">
                No hay publicaciones para mostrar
            </p>
            <a
                href="/"
                class="bg-white text-black font-medium text-[1rem] py-2.5 px-4 rounded-full hover:bg-gray-200 transition-colors"
            >
                Recargar Posts
            </a>
        </div>
    ) : (
        <PostDetail sid={sid} post={post} client:only/>
    )
}
